* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #ffffff;
    padding: 10px;
}

.header {
    background-color: #4A90E2;
    padding: 10px;
    height: 50px;
    margin: 10px 0;
}

.main {
    overflow: hidden;
    margin: 10px 0;
}

.sidebar {
    float: left;
    width: 25%;
    height: 300px;
    background-color: #7EDC8A;
    padding: 10px;
}

.content {
    float: left;
    width: 75%;
    height: 300px;
    background-color: #D35445;
    padding: 10px;
}

.footer {
    clear: both;
    background-color: #8E44AD;
    padding: 10px;
    height: 50px;
}
