* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 300px;
  padding: 10px;
}
textarea {
  width: 300px;
  padding: 10px;
}
button {
  width: 300px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 4px;
}