a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #cecece;
    padding: 20px;
    border-radius: 4px;
}

a:active {
    background-color: red;
    color: white;
}